@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    wide: 1500px
  )
);

@import "bootstrap/scss/bootstrap";

@import "custom";

.auth-form {
  max-width: 400px;
  margin: 40px auto;
}

.auth-form-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.auth-form .form-label {
  display: block;
  margin-bottom: 4px;
}

.auth-form .form-control {
  width: 100%;
}

.auth-form .btn-auth {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 4px;
}

.auth-form .btn-auth:hover {
  background-color: darken($primary-color, 10%);
}